header, main, footer {min-width: 900px; padding: 0 100px;}
body, html {scroll-behavior: smooth;}
/* header */
header {
    width: 100%;
    position: fixed; 
    top: 0; left: 0;
    padding: 70px 100px 0;
    /* background-color: rgba(255,255,255,0.5); */
}
header .gnb {
    display: flex;
    justify-content: space-between;
}
header .gnb h1 {}
header .gnb h1 a {font-weight: 700; font-size: 1.563rem;}
header .gnb p {font-size: 1.563rem; color: #B2B1B9;}
header .gnb nav {display: flex; gap:20px;}
header .gnb nav a {font-size: 1.25rem; color: #B2B1B9;}
header .gnb nav a.active {font-weight: 700; color:#000;}
/* main */
main {}
/* #home */
main #home {
    height: 100vh;
    display: flex;
    justify-content: space-between;
}
main #home .title {padding-top: 400px;}
main #home .title h1 {font-size: 2.5rem; line-height: 50px;}
main #home .title h1 span {font-size: 2.5rem; font-weight: 700;}
main #home .title p {margin-top: 37px;}
main #home .title p img {}
main #home .scroll {
    padding-top: 680px;
    animation: scroll_move 1s linear alternate infinite;
}
main #home .scroll img {}
/* #profile */
main #profile {}
main #profile h1 {font-size: 2.441rem; font-weight: 700; line-height: 50px;}
main #profile h1 em {font-size: 2.441rem; font-weight: 700; color:#FFD523;}
main #profile .container {
    display: flex; 
    margin-top: 100px;
    justify-content:space-around;
}
main #profile .container .profile_photo {margin-right: 100px;}
main #profile .container .profile_photo img {}
main #profile .container .info {
    display: flex; flex-flow:column wrap;
    height: 580px;
}
main #profile .container .info li {
    margin-bottom: 30px; width: 50%;
    margin-right: 60px;
}
main #profile .container .info li h2 {font-size: 1.25rem; line-height: 40px; font-weight: 700;}
main #profile .container .info li h2::before {
    display: inline-block; content: '';
    background-color: #000; width: 5px; height: 20px;
    margin-right: 10px;
}
main #profile .container .info li:first-child h2::before {display: none;}
main #profile .container .info li:first-child p {font-size: 1.25rem;}
main #profile .container .info li p {line-height: 40px;}
/* title 공통 css */
main section .sub_title {padding: 70px 0; text-align: center;}
main section .sub_title h1 {font-size: 2.441rem; font-weight: 700;}
/* #project */
main #project {height: 100vh;}
main #project .sub_title {}
main #project .sub_title h1 {}
main #project .container {display: flex; justify-content: space-between; align-items: center;}
main #project .container p {}
main #project .container p img {}
main #project .container .info {display: flex; flex-flow:column nowrap; width: 40%;}
main #project .container .info h2 {font-size: 1.953rem; font-weight: 700;}
main #project .container .info p {font-size: 1.25rem; margin: 20px 0 50px;}
main #project .container .info dl {
    display: flex; flex-flow: row wrap;
    margin-bottom: 50px;
}
main #project .container .info dl dt {
    font-size: 1.25rem; font-weight: 700;
    width: 20%;
    margin-bottom: 20px;
}
main #project .container .info dl dt:last-of-type {margin-bottom: 0;}
main #project .container .info dl dd {font-size: 1.25rem; width: 80%;}
main #project .container .link {display: flex; gap:20px; margin-bottom: 40px;}
main #project .container .link a {
    border: 1px solid #000;
    box-shadow: 0 3px 0 #000;
    border-radius: 10px;
    padding: 20px;
    font-size: 1.25rem;
}
main #project .container .link a:last-child {background-color: #000; color:#fff;}
main #project .container a.before {text-decoration: underline; color: #B2B1B9;}
/* #design */
main #design {}
main #design .sub_title {}
main #design .sub_title h1 {}
main #design .tab_title {display: flex; justify-content: center; gap:20px;}
main #design .tab_title a {
    font-size: 1.563rem; margin-bottom: 50px; font-weight: 700;
    text-align: center;
    width: 200px; border: 1px solid #000; border-radius: 10px;
    padding: 15px;
}
main #design .tab_title a.active {box-shadow: 0 3px 0 #000; background-color: #FFD523;}
main #design .tab_contents {}
main #design .tab_contents .contents {
    display: flex; flex-flow: row wrap;
    justify-content: center;
    margin-bottom: 20px; gap:20px;
}
main #design .tab_contents .contents a {
    background-color: #B2B1B9;
    width: calc(33.3% - 40px / 3);
    height: 450px;
    /* display: block; */
}
/* footer */
footer {text-align: center; padding: 70px 0;}
footer .title {display: flex; justify-content: center; align-items: center;}
footer span {
    height: 1px; width: 750px;
    background-color: #000;
}
footer h2 {font-family: 'Yeseva One', cursive; font-size: 1.953rem; padding: 40px 20px;}
footer .email {font-size: 1.563rem; margin-bottom: 70px;}
footer p {font-size: 1.25rem; line-height: 40px; margin-bottom: 70px;}
footer address {line-height: 30px;}
/* animation */
@keyframes scroll_move {
    0% {transform: translateY(-20px);}
    100% {transform: translateY(0);}
}